body {
    font-family: Georgia, Times, serif;
    color: white;
    background-color: #c465e0
}
.header {
  padding: 20px;
  text-align: center;
  background: #f7f8fa;
  color: black;
  font-size: 30px;
  height: 20px;
}
.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #141413;
    margin: 25px;
}

