body {
    font-family: Georgia, Times, serif;
    color: white;
    background-color: #c465e0
}
.header {
  padding: 20px;
  text-align: center;
  background: #f7f8fa;
  color: black;
  font-size: 30px;
  height: 20px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #141413;
}

