<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<div class="header">
  			<h1>Gabbie Bolcer</h1>
		</div>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
				<li><a href="/coding projects">Coding Projects</a></li>
				<li><a href="/school projects">School Projects</a></li>
				<li><a href="/portfolio reflection">School Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gkbolcer@stthomas.edu">email</a></li>
	        		<li><a href="https://github.com/gabbiebolcer">github.com/gabbiebolcer</a></li>
				<li><a href="https://www.linkedin.com/in/gabrielle-bolcer/">linkedin.com/gabbiebolcer</a></li>
				</ul>
			</footer>
		</body>
	</html>
