
# Gabrielle Bolcer


## About Me:


  I am a Senior Computer Science and Data Analytics major at the University of St. Thomas. I have spent the last few years being quite busy finishing my degree, working 
  at my software engineering internship, and running on the cross country and track teams at St. Thomas. At work I enjoy getting data from one place to the next so 
  that the next team can do their fancy tricks on it. I love coding in Python and using AWS to solve data problems. 


## Resume:
 [resume link](https://github.com/gabbiebolcer/gabbiebolcer.github.io/blob/master/Resume2.pdf)
 

# Projects

## Machine Learning What's for Dinner
  [code](https://github.com/gabbiebolcer/gabbiebolcer.github.io/blob/master/DecisionTree.java)

## Two Way Directed Graph
  [code](https://github.com/gabbiebolcer/gabbiebolcer.github.io/blob/master/TwoWayDirectedGraph.java)
  

# Other Class Work

In my final Theology class at the University of St. Thomas, I wrote a [paper](https://github.com/gabbiebolcer/gabbiebolcer.github.io/blob/master/Other%20Class%20Assignment.pdf) discussing how Algorithms affect human relationships. During this class I realized that this was a topic that I was very passionate about. As someone going to work in a tech field, I understand that I need to understand how what I'm building affects others. This could be understanding biases in what I build or, as this class showed me, understanding how something I build can change how people interact with one another and the effects that has on people's physical, emotional, and spiritual wellbeing. 
